In [ ]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
application_df = application_df.drop(columns=['EIN', 'NAME'])
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [ ]:
unique_counts = application_df.nunique()
unique_counts

EIN                       34299
NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [ ]:
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
application_type_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
cutoff_value = 1000
application_types_to_replace = []
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
for app_type, count in application_type_counts.items():
    if count < cutoff_value:
        application_types_to_replace.append(app_type)
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app, 'Other')
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
class_counts = application_df['CLASSIFICATION'].value_counts()
print(class_counts)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [ ]:
class_counts = application_df['CLASSIFICATION'].value_counts()
class_counts_greater_than_1 = class_counts[class_counts > 1]
print(class_counts_greater_than_1)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [ ]:
cutoff_value = 1000
classifications_to_replace = []
classification_counts = application_df['CLASSIFICATION'].value_counts()
for cls, count in classification_counts.items():
    if count < cutoff_value:
        classifications_to_replace.append(cls)
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls, 'Other')
classification_value_counts = application_df['CLASSIFICATION'].value_counts()
print(classification_value_counts)

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [ ]:
categorical_columns = ['APPLICATION_TYPE', 'AFFILIATION', 'USE_CASE', 'ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS']
application_df = pd.get_dummies(application_df, columns=categorical_columns)

In [ ]:
X= application_df.drop(columns=['IS_SUCCESSFUL'])
y= application_df['IS_SUCCESSFUL']
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [ ]:
print(X_train.columns)

Index(['EIN', 'NAME', 'CLASSIFICATION', 'STATUS', 'ASK_AMT',
       'APPLICATION_TYPE_Other', 'APPLICATION_TYPE_T19', 'APPLICATION_TYPE_T3',
       'APPLICATION_TYPE_T4', 'APPLICATION_TYPE_T5', 'APPLICATION_TYPE_T6',
       'AFFILIATION_CompanySponsored', 'AFFILIATION_Family/Parent',
       'AFFILIATION_Independent', 'AFFILIATION_National', 'AFFILIATION_Other',
       'AFFILIATION_Regional', 'USE_CASE_CommunityServ', 'USE_CASE_Heathcare',
       'USE_CASE_Other', 'USE_CASE_Preservation', 'USE_CASE_ProductDev',
       'ORGANIZATION_Association', 'ORGANIZATION_Co-operative',
       'ORGANIZATION_Corporation', 'ORGANIZATION_Trust', 'INCOME_AMT_0',
       'INCOME_AMT_1-9999', 'INCOME_AMT_10000-24999',
       'INCOME_AMT_100000-499999', 'INCOME_AMT_10M-50M', 'INCOME_AMT_1M-5M',
       'INCOME_AMT_25000-99999', 'INCOME_AMT_50M+', 'INCOME_AMT_5M-10M',
       'SPECIAL_CONSIDERATIONS_N', 'SPECIAL_CONSIDERATIONS_Y'],
      dtype='object')

In [32]:
non_numeric_columns = ['EIN', 'NAME', 'CLASSIFICATION', 'STATUS']
X_train_numeric = X_train.drop(columns=non_numeric_columns)
X_test_numeric = X_test.drop(columns=non_numeric_columns)
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train_numeric)
X_test_scaled = scaler.transform(X_test_numeric)
nn = tf.keras.models.Sequential()
input_units = X_train_scaled.shape[1]
nn.add(tf.keras.layers.Dense(units=64, input_dim=input_units, activation='relu'))
nn.add(tf.keras.layers.Dense(units=32, activation='relu'))
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))
epochs = 50
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
nn.fit(X_train_scaled, y_train, epochs=epochs, verbose=1)
nn.summary()

Epoch 1/50
804/804 [==============================] - 2s 1ms/step - loss: 0.5836 - accuracy: 0.7198
Epoch 2/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5739 - accuracy: 0.7238
Epoch 3/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5723 - accuracy: 0.7257
Epoch 4/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5722 - accuracy: 0.7270
Epoch 5/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5697 - accuracy: 0.7276
Epoch 6/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5698 - accuracy: 0.7266
Epoch 7/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5699 - accuracy: 0.7273
Epoch 8/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5697 - accuracy: 0.7269
Epoch 9/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5693 - accuracy: 0.7274
Epoch 10/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5685 - accuracy: 0.7269
Epoch 11/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5682 - accuracy: 0.7283
Epoch 12/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5683 - accuracy: 0.7280
Epoch 13/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5680 - accuracy: 0.7285
Epoch 14/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5678 - accuracy: 0.7289
Epoch 15/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5671 - accuracy: 0.7287
Epoch 16/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5670 - accuracy: 0.7296
Epoch 17/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5671 - accuracy: 0.7284
Epoch 18/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5666 - accuracy: 0.7297
Epoch 19/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5664 - accuracy: 0.7293
Epoch 20/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5669 - accuracy: 0.7292
Epoch 21/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5664 - accuracy: 0.7291
Epoch 22/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5662 - accuracy: 0.7291
Epoch 23/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5663 - accuracy: 0.7296
Epoch 24/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5664 - accuracy: 0.7291
Epoch 25/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5659 - accuracy: 0.7294
Epoch 26/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5663 - accuracy: 0.7300
Epoch 27/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5659 - accuracy: 0.7292
Epoch 28/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5658 - accuracy: 0.7304
Epoch 29/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5655 - accuracy: 0.7287
Epoch 30/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5658 - accuracy: 0.7299
Epoch 31/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5654 - accuracy: 0.7295
Epoch 32/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5657 - accuracy: 0.7297
Epoch 33/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5654 - accuracy: 0.7294
Epoch 34/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5650 - accuracy: 0.7300
Epoch 35/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5650 - accuracy: 0.7297
Epoch 36/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5652 - accuracy: 0.7293
Epoch 37/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5652 - accuracy: 0.7296
Epoch 38/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5655 - accuracy: 0.7294
Epoch 39/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5651 - accuracy: 0.7294
Epoch 40/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5652 - accuracy: 0.7304
Epoch 41/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5651 - accuracy: 0.7302
Epoch 42/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5651 - accuracy: 0.7300
Epoch 43/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5644 - accuracy: 0.7299
Epoch 44/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5648 - accuracy: 0.7300
Epoch 45/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5647 - accuracy: 0.7305
Epoch 46/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5645 - accuracy: 0.7298
Epoch 47/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5645 - accuracy: 0.7299
Epoch 48/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5643 - accuracy: 0.7305
Epoch 49/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5643 - accuracy: 0.7304
Epoch 50/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5645 - accuracy: 0.7304
Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_9 (Dense)             (None, 64)                2176

 dense_10 (Dense)            (None, 32)                2080

 dense_11 (Dense)            (None, 1)                 33

=================================================================
Total params: 4289 (16.75 KB)
Trainable params: 4289 (16.75 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [33]:
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5732 - accuracy: 0.7235 - 438ms/epoch - 2ms/step
Loss: 0.5732088088989258, Accuracy: 0.723498523235321

Data Preprocessing

What variable(s) are the target(s) for your model?
The target variable is the 'IS_SUCCESSFUL' column to judge the effectiveness of a charitable organizations success

What variable(s) are the features for your model?
The features  include'ASK_AMT' (the amount requested in the application), one-hot encoded categorical variables like 'APPLICATION_TYPE,' 'AFFILIATION,' 'USE_CASE,' 'ORGANIZATION,' 'INCOME_AMT,' and 'SPECIAL_CONSIDERATIONS.'

What variable(s) should be removed from the input data because they are neither targets nor features?The variables 'EIN,' 'NAME,' 'CLASSIFICATION,' and 'STATUS' were removed from the input data because they are neither targets nor features and do not provide meaningful information for the predictive model.

How many neurons, layers, and activation functions did you select for your neural network model, and why? The input layer has the same number of units as there are features in the scaled numeric data.The first hidden layer has 64 units with the ReLU activation function to capture complex patterns in the data.The second hidden layer has 32 units with the ReLU activation function to further refine the model.The output layer has 1 unit with the sigmoid activation function, suitable for binary classification, providing the probability of success.

Were you able to achieve the target model performance? Initially In this case, the model achieved an accuracy of approximately 72.23% on the test data. (So no)

What steps did you take in your attempts to increase model performance?
Experiment with different numbers of hidden layers, units per layer, and learning rates.